
/*página 1*/
h2{
    color: #2d5054;
    font-weight: bold;
    margin-bottom: 30px;
}
h3{
    color: #e79623;
    font-weight: bold;
    font-size: 1.5rem;
}
p{word-wrap: break-word;}
.container{background: transparent;}
#booklet{position: relative;}
.sesc-audio-player {
    width: 200px;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    margin-left: -35px;
}
.sesc-audio-player .botoes {
    text-align: center;
}
.sesc-audio-player input[type="range"] {
    border-radius: 5px;
}
.sesc-audio-player .timestamp {
    margin-bottom: 1rem;
    text-align: center;
    margin-left: unset;
}
.tela-inicial {
    background-image: url(../img/bt-telainicial.png);
    width: 174px;
    height: 56px;
    display: block;
    margin: -20px auto 40px auto;
}
.pagina1 .container{
    position: relative;
    padding: 0 100px;
    background: transparent;
    padding-bottom: 100px;
}
.abaixo{margin-top: -40px;}
.texto-destaque{
    color: #498189;
    font-weight: bold;
}
.bt-avancar{
    background: url('../img/avancar.png') no-repeat;
    width: 154px;
    height: 49px;
    display: block;
}
.bt-avancar:hover{
    background: url('../img/avancar_hover.png') no-repeat;
    transform: translateY(-3px);
}
.pagina1 .bt-avancar{
    position: absolute;
    bottom: 40px;
}
.pg1-img-lateral{height: 100%;}
.footer-inicial{
    position: absolute;
}
.pagination li a{
    width: 48px;
    height: 48px;
    border: none;
    text-indent: -100em;
}
.pagination li.visitado a{opacity: .3;}
.pagination li:first-child a{background: url('../img/1.png') no-repeat;}
.pagination li:first-child a:hover, .pagination li.active:first-child a{background: url('../img/1_hover.png') no-repeat;}
.pagination li:nth-child(2) a{background: url('../img/2.png') no-repeat;}
.pagination li:nth-child(2) a:hover, .pagination li.active:nth-child(2) a{background: url('../img/2_hover.png') no-repeat;}
.pagination li:nth-child(3) a{background: url('../img/3.png') no-repeat;}
.pagination li:nth-child(3) a:hover, .pagination li.active:nth-child(3) a{background: url('../img/3_hover.png') no-repeat;}
.pagination li:nth-child(4) a{background: url('../img/4.png') no-repeat;}
.pagination li:nth-child(4) a:hover, .pagination li.active:nth-child(4) a{background: url('../img/4_hover.png') no-repeat;}
.pagination li:nth-child(5) a{background: url('../img/5.png') no-repeat;}
.pagination li:nth-child(5) a:hover, .pagination li.active:nth-child(5) a{background: url('../img/5_hover.png') no-repeat;}
.pagination li:nth-child(6) a{background: url('../img/6.png') no-repeat;}
.pagination li:nth-child(6) a:hover, .pagination li.active:nth-child(6) a{background: url('../img/6_hover.png') no-repeat;}
.pagination li:nth-child(7) a{background: url('../img/7.png') no-repeat;}
.pagination li:nth-child(7) a:hover, .pagination li.active:nth-child(7) a{background: url('../img/7_hover.png') no-repeat;}
/*página 1*/

/*página 2*/
.bg-podcast{
    background: url('../img/podcast.png') no-repeat;
    max-width: 811px;
    height: 268px;
    background-size: contain;
}
.bloco-escuro{
    background: #498189;
    padding: 90px 0;
    position: relative;
}
.bloco-escuro h2, .bloco-escuro p, .bloco-escuro li{color: #fff;}
.ico-destaque{
    background: url('../img/ico_destaque.png') no-repeat left top;
    padding-left: 140px;
    min-height: 130px;
    margin-left: -80px;
}
.bloco-claro{
    background: url('../img/background.png') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 90px 0;
    position: relative;
}
.bloco-claro h3{color: #498189;}
.infografico1 {
    padding-top: 40px;
}
.infografico1 .row {
    max-width: 100%;
}
.card-infografico {
    background-color: #CF8020;
    display: block;
    width: 400px;
    padding: 25px 35px;
    margin: 20px 40px;
    border-radius: 25px;
    box-shadow: 4px 4px 5px #333;
}
.card-infografico p:nth-child(2) {
    margin-bottom: 0;
    margin-top: 10px;
}
.card-infografico strong {
    font-size: 18px;
    line-height: 1.3rem;
}
.infografico-card-azul .row{
    display: flex;
    justify-content: center;
}
.card-azul {
    display: block;
    width: 300px;
    border: 5px solid #2d5054;
    border-radius: 20px;
    position: relative;
    padding-top: 25px;
    color: white;
    font-weight: 600;
    margin: 20px;
}
.card-azul p {
    font-size: 17px;
}
.card-azul:nth-child(1) {
    background-color: #498189;
}
.card-azul:nth-child(1)::before{background-image: url('../img/ajustes/card_1.png');}
.card-azul:nth-child(2)::before{background-image: url('../img/ajustes/card_2.png');}
.card-azul:nth-child(3)::before{background-image: url('../img/ajustes/card_3.png');}
.card-azul::before {
    content: '';    
    background-size: contain;
    height: 70px;
    width: 70px;
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
}
.card-azul:nth-child(2) {
    background-color: #3f6e72;
}
.card-azul:nth-child(3) {
    background-color: #32585b;
}
.bt-tooltip{
    font-size: 17px;
    border-bottom: 2px dashed #333;
    color: inherit;
    text-decoration: none;
    font-weight: 600;
}
.bloco-escuro .bt-tooltip {
    border-bottom: 2px dashed white;
}
.borda-pontilhada{
    border: 3px dashed #fff;
    background: #2d5054;
    border-radius: 10px;
    margin: 50px auto;
    padding: 10px;
    padding-bottom: 0;
}
ul.check{padding-left: 0;}
ul.check li{
    list-style: none;
    background: url('../img/check.png') no-repeat left top;
    padding-left: 40px;
    min-height: 30px;
    margin-bottom: 10px;
}
.ilustra-esquerda{
    margin-left: -80%;
}
.painel1{
    max-width: 1260px;
    margin: 50px auto;
}
.bt-painel1{
    width: 278px;
    height: 350px;
    margin-bottom: 30px;
    border: none;
    transition: all .4s;
}
.bt-painel1:hover{transform: scale(1.1);}
.bt-local{background: url('../img/bt_1_hover_scale.png') no-repeat;}
.bt-equipe{background: url('../img/bt_2_hover_scale.png') no-repeat;}
.bt-materiais{background: url('../img/bt_3_hover_scale.png') no-repeat;}
.bt-fornecedores{background: url('../img/bt_4_hover_scale.png') no-repeat;}
.bt-prestacao{background: url('../img/bt_5_hover_scale.png') no-repeat;}
.bt-marketing{background: url('../img/bt_6_hover_scale.png') no-repeat;}
.bt-acompanhamento{background: url('../img/bt_7_hover_scale.png') no-repeat;}
.bt-desmontagem{background: url('../img/bt_8_hover_scale.png') no-repeat;}
.bloco-escuro .modal p{color: #333;}

.icone.se-liga::before{
    background: url('../img/ico_seliga.png') no-repeat left top #fff;
    width: 139px;
    height: 176px;
    top: -45px;
    left: -85px;
}
.modal-body .icone.se-liga {
    width: 70%;
    margin: 60px auto 30px auto;
}
.bloco-escuro .caixa.destaque{
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    padding-left: 70px;
}
.bloco-escuro .caixa.destaque p{
    color: #498189;
    margin-bottom: 0;
}
.icone.check::before{
    background: url('../img/check_final.png') no-repeat left top transparent;
    background-size: contain;
    width: 130px;
    height: 130px;
    top: -15px;
    left: -60px;
}
.footer-com-avancar{
    width: 400px;
    margin: 0 auto;
}
.rellax{
    position: absolute;
    width: 20%;
}
.rellax.direita{right: 0;}
.rellax.esquerda{left: 0;}
.rellax1{top: 1100px;}
.rellax2{top: 1450px;}
.rellax3{top: 2000px;}
.rellax4{top: 600px;}
.rellax5{
    top: 1200px;
    width: 15%;
}
.rellax6{top: 850px;}
.rellax7{top: 1500px;}
.rellax8{top: 1000px;}
.rellax9{
    top: 3200px;
    width: 15%;
}

.pagina2 .painel-gaitinha .accordion-item{margin-bottom: 20px;}
.pagina2 .painel-gaitinha .accordion-button{margin-bottom: 0;}
/*página 2*/

/*página 3*/
.pagina3 .bloco-escuro{background: #487f6b;}
.pagina3 .bloco-escuro h4{color: #fff;}
.pagina3 .bloco-claro{background-image: url('../img/background2.png')}
.pg3-ilustra1{margin-left: -180px;}
.painel-tablet{
    background: url('../img/ipad.png') no-repeat;
    width: 602px;
    height: 858px;
    position: relative;
    padding-top: 140px;
    padding-left: 100px;
    padding-right: 90px;
}
.bt-tablet{
    width: 100%;
    height: 48px;
    background: none;
    border-radius: 13px;
    margin-bottom: 9px;
    border: none;
    position: relative;
}
.bt-tablet:hover{border: 3px solid #e79623;}
.bt-tablet.visitado::before{
    background-image: url('../img/checklist_modal.png');
    width: 67px;
    height: 67px;
    display: block;
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
}
.painel-tablet .modal-content{
    background: #e79623;
    padding: 40px;
}
.painel-tablet .modal-content p{color: #000;}
.painel-tablet .modal-dialog:not(.modal-fullscreen) .modal-header{background: none;}
.painel-tablet .modal-dialog:not(.modal-fullscreen) .btn-close{
    background: url('../img/bt_fechar_modal.png') no-repeat;
    width: 46px;
    height: 46px;
    opacity: 1;
    padding: 0;
    margin: auto;
    margin-right: 0;
}
.tablet-modais .modal-header img {
    margin-right: 15px;
}
.bg-parallax{
    width: 100%;
    height: 440px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
.parallax1{background: url('../img/paralaxe.png') no-repeat center;}
.pagina3 .caixa.ilustra2{
    background: #487f6b;
    border: none;
    border-radius: 13px;
    padding: 20px;
    padding-right: 260px;
}
.pagina3 .caixa.ilustra2 p{color: #fff;}
.pagina3 .caixa.ilustra2::before{
    background: url('../img/ilustra_destaque2.png') no-repeat right center transparent;
    width: 343px;
    height: 300px;
    background-size: contain;
    left: unset;
    right: -100px;
    top: -45px;
}
/*página 3*/

/*página 4*/
.mesma-altura{ min-height: 210px;}
.pagina3 .bloco-claro{background-image: url('../img/background3.png')}
.parallax2{background-image: url('../img/paralaxe_1.png');}
.pagina4 .caixa{
    background: #5da5b1;
    border: none;
    border-radius: 13px;
    padding: 20px;
    padding-left: 40px;
    margin-top: 80px;
}
.pagina4 .caixa p{color: #fff;}
.pagina4 .caixa.importante::before{
    background: url('../img/ico_importante.png') no-repeat center transparent;
    width: 127px;
    height: 159px;
    left: -95px;
    top: -25px;
}
.parallax3{background-image: url('../img/paralaxe_2.png');}
.img-exemplo{
    margin-bottom: -200px;
}
.pagina4 h2{color: #487f6b;}
.pagina4 .caixa.destaque{
    background: #2d5054;
    padding-right: 240px;
    padding-left: 20px;
}
.pagina4 .caixa.destaque p{color: #fff;}
.pagina4 .caixa.destaque::before{
    background: url('../img/destaque.png') no-repeat;
    width: 290px;
    height: 260px;
    right: -60px;
    top: -70px;
    left: unset;
    background-size: contain;
}
.pagina4 .bloco-escuro .caixa{background: #2d5054;}
.pagina4 .caixa.importante{padding-left: 50px;}
.pagina4 .caixa.atencao{padding-left: 50px;}
.pagina4 .caixa.importante::before{
    top: -75px;
    left: -70px;
}
.pagina4 .caixa.atencao::before{
    background: url('../img/ico_atencao.png') no-repeat center transparent;
    width: 127px;
    height: 159px;
    left: -70px;
    top: -75px;
}
.pagina4 .bloco-escuro .painel-gaitinha .accordion-body{
    background: #fff;
}
.bloco-escuro .painel-gaitinha p{color: #333;}
/*página 4*/

/*página 5*/
.pagina5 .bloco-claro{background: none;}
.pagina5 .primeiro{padding-top: 0;}
.pagina5 h2{color: #487f6b;}
.download-glossario{
    background: url('../img/bt_download_glossario.png') no-repeat;
    width: 269px;
    height: 263px;
}
.download-glossario:hover{background: url('../img/bt_download_glossario_hover.png') no-repeat;}

.letra{
    min-height: 67px;
    padding-left: 80px;
    padding-top: 10px;
}

.letra-a{background: url('../img/letra_A.png') no-repeat left top;}
.letra-b{background: url('../img/letra_B.png') no-repeat left top;}
.letra-c{background: url('../img/letra_C.png') no-repeat left top;}
.letra-d{background: url('../img/letra_D.png') no-repeat left top;}
.letra-e{background: url('../img/letra_E.png') no-repeat left top;}
.letra-f{background: url('../img/letra_F.png') no-repeat left top;}
.letra-g{background: url('../img/letra_G.png') no-repeat left top;}
.letra-i{background: url('../img/letra_I.png') no-repeat left top;}
.letra-l{background: url('../img/letra_L.png') no-repeat left top;}
.letra-m{background: url('../img/letra_M.png') no-repeat left top;}
.letra-o{background: url('../img/letra_O.png') no-repeat left top;}
.letra-p{background: url('../img/letra_P.png') no-repeat left top;}
.letra-q{background: url('../img/letra_Q.png') no-repeat left top;}
.letra-r{background: url('../img/letra_R.png') no-repeat left top;}
.letra-s{background: url('../img/letra_S.png') no-repeat left top;}
.letra-t{background: url('../img/letra_T.png') no-repeat left top;}
.letra-v{background: url('../img/letra_V.png') no-repeat left top;}

.glossario .accordion-item.claro{background: #498189;}
.glossario .accordion-item.escuro{background: #2d5054;}
.glossario .accordion-item:hover img{transform: scale(1.1);}
.glossario .accordion-item{
    border: none;
    transition: all .4s;
}
.glossario .accordion-button:not(.collapsed), .accordion-button:focus, .accordion-button{
    background: transparent;
    box-shadow: unset;
    border: none;
    padding: 25px 0px;
}
.glossario .accordion-button::after {display: none;}
.glossario .accordion-button.collapsed::before, .glossario .accordion-button:not(.collapsed)::before{
    right: 0;
    left: unset;
    position: absolute;
}
.glossario .accordion-button.collapsed::before {
    content: "";
    width: 50px;
    height: 50px;
    background: url(../../assets/img/ico-mais.png) center center no-repeat, url(../../assets/img/quadrado.png);
    margin-right: 10px;
}
.glossario .accordion-body{padding-left: 60px;}
.ilustra-modelo{
    margin-left: -80px;
    margin-top: -30px;
}
.pagina5 .caixa{
    background: #498189;
    padding: 10px;
    border-radius: 30px;
}
.pagina5 .caixa p{color: #fff;}
.pagina5 .caixa.atencao{padding-left: 50px;}
.pagina5 .caixa.atencao::before{
    background: url('../img/ico_atencao.png') no-repeat center transparent;
    width: 127px;
    height: 159px;
    left: -70px;
    top: -30px;
}
.bloco-azul{
    background: #5da5b1;
    padding: 90px 0;
    position: relative;
}
.bloco-azul p{color: #fff;}
.pagina5 .bloco-azul .caixa.pensar{
    background: #fff;
    border: none;
}
.pagina5 .bloco-azul .caixa.pensar p{color: #5da5b1;}
.pagina5 .bloco-azul .caixa.pensar{padding-left: 50px;}
.pagina5 .bloco-azul .caixa.pensar::before{
    background: url('../img/ico_pensar.png') no-repeat center transparent;
    width: 127px;
    height: 180px;
    left: -80px;
    top: -40px;
}
.footer-pg5{
    background: #5da5b1;
    margin-top: -1px;
}
.rellax10{
    top: 100px;
    width: 10%;
}
.rellax11{
    top: 1000px;
    width: 10%;
}
.rellax12{
    top: 1000px;
    width: 15%;
}
.painel-contrato{
    background: url('../img/painel-contrato.png') no-repeat;
    width: 985px;
    height: 1283px;
    position: relative;
}
.painel-contrato .lupa{
    position: absolute;
    width: 74px;
    height: 74px;
    left: -15px;
    transition: all .4s;
    cursor: pointer;
}
.painel-contrato .lupa:hover{
    width: 600px;
}
.lupa.bt-contratante{
    background: url('../img/figura_4_ico_detalhes.png') no-repeat left center, url('../img/figura_4_modal1.png') no-repeat left 85px center;
    top: 215px;
}
.lupa.bt-termos{
    background: url('../img/figura_4_ico_detalhes.png') no-repeat left center, url('../img/figura_4_modal2.png') no-repeat left 85px center;
    top: 295px;
}
.lupa.bt-contratado{
    background: url('../img/figura_4_ico_detalhes.png') no-repeat left center, url('../img/figura_4_modal3.png') no-repeat left 85px center;
    top: 408px;
}
.lupa.bt-evento{
    background: url('../img/figura_4_ico_detalhes.png') no-repeat left center, url('../img/figura_4_modal4.png') no-repeat left 85px center;
    top: 488px;
}
.lupa.bt-valor{
    background: url('../img/figura_4_ico_detalhes.png') no-repeat left center, url('../img/figura_4_modal5.png') no-repeat left 85px center;
    top: 600px;
}
.lupa.bt-penalidades{
    background: url('../img/figura_4_ico_detalhes.png') no-repeat left center, url('../img/figura_4_modal6.png') no-repeat left 85px center;
    top: 732px;
}
.lupa.bt-assinatura{
    background: url('../img/figura_4_ico_detalhes.png') no-repeat left center, url('../img/figura_4_modal7.png') no-repeat left 85px center;
    bottom: 204px;
}
/*página 5*/

/*página 6*/
.bloco-amarelo{
    background: #e79623;
    padding: 90px 0;
    position: relative;
}
.pg6-img1{
    margin-bottom: -200px;
    z-index: 9;
    position: relative;
}
.bloco-amarelo.primeiro{
    padding-top: 250px;
}
.pagina6 .caixa.lembrar{
    background: #fff;
    border: none;
    border-radius: 30px;
    padding: 10px;
    padding-left: 20px;
}
.pagina6 .caixa.lembrar p{color: #333;}
.pagina6 .caixa.lembrar{padding-left: 50px;}
.pagina6 .caixa.lembrar::before{
    background: url('../img/ico_lembrar.png') no-repeat center transparent;
    width: 140px;
    height: 182px;
    left: -80px;
    top: -40px;
}
.bloco-amarelo .figure-caption{color: #fff;}
.bloco-amarelo.final{
    min-height: 710px;
    margin-top: 100px;
}
.pagina6 .img-final{
    position: absolute;
    left: -15%;
    bottom: 0;
}
.footer-pg6{
    margin-top: -1px;
    background: #e79623;
}
.rellax13{
    top: 300px;
}
/*página 6*/

.caixa-por-exemplo {
    background-color: #40767d;
    color: white;
    width: 425px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 4px 4px 5px #333;
    display: block;
    margin: 40px auto -40px auto;
    position: relative;
    z-index: 20;
    padding-top: 40px;
    padding-bottom: 60px;
}
.caixa-por-exemplo p {
    font-size: 18px;
    /* text-align: center; */
}
.caixa-por-exemplo h4 {
    background-color: #366367;
    width: 425px;
    margin-left: -20px;
    padding-left: 20px;
    position: relative;
    z-index: 15;
    font-size: 28px;
    margin-bottom: 20px;
}
.borda-branca {
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    z-index: 20;
    height: 95%;
    width: 95%;
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
}
.caixa-por-exemplo::before {
    content: '';
    background-image: url('../img/ajustes/ico_exemplo.png');
    background-size: contain;
    width: 84px;
    height: 90px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 21;
}
.caixa-por-exemplo::after {
    content: '';
    background-image: url('../img/ajustes/ico_exemplo2.png');
    background-size: contain;
    width: 247px;
    height: 124px;
    position: absolute;
    bottom: -55px;
    z-index: 22;
    left: 54%;
    transform: translateX(-50%);
}

/*media queries*/
@media screen and (max-width: 1400px) and (min-width: 992px){
    .bloco-amarelo.final{min-height: 500px;}
    .pagina6 .img-final{
        width: 43%;
        top: -5%;
    }
}
@media screen and (max-width: 1024px){
    .ico-destaque{margin-left: 0;}
    .ilustra-esquerda{
        max-width: 100%;
        margin-left: 0;
    }
}
@media screen and (max-width: 890px){
    .abaixo{margin-top: 0;}
    .footer-inicial{
        right: unset !important;
        left: 100px !important;
        bottom: 210px !important;
    }
    .pagina3 .caixa.ilustra2{
        padding-right: 20px;
        padding-top: 260px;
    }
    .pagina3 .caixa.ilustra2::before{
        right: 0;
        top: -65px;
    }
    .footer-pg3{background: #f4f3f3;}
    .pagina4 .caixa.importante{
        width: 85%;
        margin: 50px auto;
        margin-top: 100px;
    }
    .pagina4 .bloco-escuro .caixa{
        width: 85%;
        margin-top: 80px;
    }
    .pagina4 .bloco-escuro .caixa,
    .pagina5 .caixa.atencao,
    .pagina5 .bloco-azul .caixa.pensar{
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
    .download-glossario{margin: 30px auto;}
    .ilustra-modelo{
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .pagina6 .caixa.lembrar{
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
    .bloco-amarelo.final{min-height: auto;}
    .pg2-ilustra1{max-width: 100%;}
    .pagina2 .modal .icone.se-liga{
        margin-top: 100px;
        padding-left: 40px;
        padding-top: 100px;
    }
    .pagina2 .modal .icone.se-liga::before{
        top: -85px;
        left: 30%;
    }
}
@media screen and (max-width: 580px){
    .bloco-caro {
        background-attachment: unset;
    }
    .painel-tablet{
        transform: scale(0.7) !important;
        margin: -40% !important;
        background-position: center;
    }
    .pagina1 .container{
        padding-left: 30px;
        padding-right: 30px;
    }
    .footer-inicial {
        left: 50% !important;
        transform: translateX(-50%);
        bottom: 40px !important;
    }
    .pagina4 .bloco-escuro .caixa.destaque{
        padding-right: 0;
        padding-top: 190px;
    }
    .pagina4 .caixa.destaque::before{
        right: 10px;
    }
    .pagina5 .bloco-azul .caixa.pensar{
        padding-top: 50px;
        padding-left: 10px;
    }
    .pagina5 .bloco-azul .caixa.pensar::before{
        top: -120px;
        left: 80px;
    }
    .modal .accordion-button:not(.collapsed)::before,
    .modal .painel-gaitinha .accordion-button:before{width: 30px;}
    .pagina2 .modal .accordion-header i{margin-left: -5px;}
    .footer-com-avancar {
        width: 250px;
        flex-wrap: wrap;
    }
    .pagination {
        flex-wrap: wrap;
        justify-content: center;
    }
    .icone.check::before {
        left: -40px;
        width: 110px;
    }
    .pagina4 .caixa.importante::before, 
    .pagina4 .caixa.atencao::before, .pagina5 .caixa.atencao::before, .pagina6 .caixa.lembrar::before {
        width: 100px;
        background-size: contain;
        left: -45px;
    }
    .card-infografico {
        width: 325px;
    }
    .card-azul {
        margin-top: 40px;
    }
    .caixa-por-exemplo {
        width: 100%;
    }
    .caixa-por-exemplo h4 {
        width: 100%;
    }
}