
/*página 1*/
h2{
    color: #2d5054;
    font-weight: bold;
    margin-bottom: 30px;
}
h3{
    color: #e79623;
    font-weight: bold;
    font-size: 1.5rem;
}
.container{background: transparent;}
#booklet{position: relative;}
.sesc-audio-player {
    width: 200px;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    margin-left: -35px;
}
.sesc-audio-player .botoes {
    text-align: center;
}
.sesc-audio-player input[type="range"] {
    border-radius: 5px;
}
.sesc-audio-player .timestamp {
    margin-bottom: 1rem;
    text-align: center;
    margin-left: unset;
}
.tela-inicial {
    background-image: url(../img/bt-telainicial.png);
    width: 174px;
    height: 56px;
    display: block;
    margin: -20px auto 40px auto;
}
.pagina1 .container{
    position: relative;
    padding: 0 100px;
    background: transparent;
    padding-bottom: 100px;
}
.abaixo{margin-top: -40px;}
.texto-destaque{
    color: #498189;
    font-weight: bold;
}
.bt-avancar{
    background: url('../img/avancar.png') no-repeat;
    width: 154px;
    height: 49px;
    display: block;
}
.bt-avancar:hover{
    background: url('../img/avancar_hover.png') no-repeat;
    transform: translateY(-3px);
}
.pagina1 .bt-avancar{
    position: absolute;
    bottom: 40px;
}
.pg1-img-lateral{height: 100%;}
.footer-inicial{
    position: absolute;
}
.pagination li a{
    width: 48px;
    height: 48px;
    border: none;
    text-indent: -100em;
}
.pagination li:first-child a{background: url('../img/1.png') no-repeat;}
.pagination li:first-child a:hover, .pagination li.active:first-child a{background: url('../img/1_hover.png') no-repeat;}
.pagination li:nth-child(2) a{background: url('../img/2.png') no-repeat;}
.pagination li:nth-child(2) a:hover, .pagination li.active:nth-child(2) a{background: url('../img/2_hover.png') no-repeat;}
.pagination li:nth-child(3) a{background: url('../img/3.png') no-repeat;}
.pagination li:nth-child(3) a:hover, .pagination li.active:nth-child(3) a{background: url('../img/3_hover.png') no-repeat;}
.pagination li:nth-child(4) a{background: url('../img/4.png') no-repeat;}
.pagination li:nth-child(4) a:hover, .pagination li.active:nth-child(4) a{background: url('../img/4_hover.png') no-repeat;}
.pagination li:nth-child(5) a{background: url('../img/5.png') no-repeat;}
.pagination li:nth-child(5) a:hover, .pagination li.active:nth-child(5) a{background: url('../img/5_hover.png') no-repeat;}
.pagination li:nth-child(6) a{background: url('../img/6.png') no-repeat;}
.pagination li:nth-child(6) a:hover, .pagination li.active:nth-child(6) a{background: url('../img/6_hover.png') no-repeat;}
.pagination li:nth-child(7) a{background: url('../img/7.png') no-repeat;}
.pagination li:nth-child(7) a:hover, .pagination li.active:nth-child(7) a{background: url('../img/7_hover.png') no-repeat;}
/*página 1*/

/*página 2*/
.bloco-escuro{
    background: #498189;
    padding: 90px 0;
    position: relative;
}
.bloco-escuro h2, .bloco-escuro p, .bloco-escuro li{color: #fff;}
.ico-destaque{
    background: url('../img/ico_destaque.png') no-repeat left top;
    padding-left: 140px;
    min-height: 130px;
    margin-left: -80px;
}
.bloco-claro{
    background: url('../img/background.png') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 90px 0;
    position: relative;
}
.bloco-claro h3{color: #498189;}
.infografico1{
    max-width: 1260px;
    margin: 50px auto;
}
.bt-tooltip{
    font-weight: bold;
    color: #e79623;
    border: none;
    background: transparent;
}
.borda-pontilhada{
    border: 3px dashed #fff;
    background: #2d5054;
    border-radius: 10px;
    margin: 50px auto;
    padding: 10px;
    padding-bottom: 0;
}
ul.check{padding-left: 0;}
ul.check li{
    list-style: none;
    background: url('../img/check.png') no-repeat left top;
    padding-left: 40px;
    min-height: 30px;
    margin-bottom: 10px;
}
.ilustra-esquerda{
    margin-left: -80%;
}
.painel1{
    max-width: 1260px;
    margin: 50px auto;
}
.bt-painel1{
    width: 278px;
    height: 327px;
    margin-bottom: 30px;
    border: none;
    transition: all .4s;
}
.bt-painel1:hover{transform: scale(1.1);}
.bt-local{background: url('../img/bt_1_hover_scale.png') no-repeat;}
.bt-equipe{background: url('../img/bt_2_hover_scale.png') no-repeat;}
.bt-materiais{background: url('../img/bt_3_hover_scale.png') no-repeat;}
.bt-fornecedores{background: url('../img/bt_4_hover_scale.png') no-repeat;}
.bt-prestacao{background: url('../img/bt_5_hover_scale.png') no-repeat;}
.bt-marketing{background: url('../img/bt_6_hover_scale.png') no-repeat;}
.bt-acompanhamento{background: url('../img/bt_7_hover_scale.png') no-repeat;}
.bt-desmontagem{background: url('../img/bt_8_hover_scale.png') no-repeat;}
.bloco-escuro .modal p{color: #333;}

.icone.se-liga::before{
    background: url('../img/ico_seliga.png') no-repeat left top #fff;
    width: 139px;
    height: 176px;
    top: -45px;
    left: -85px;
}
.bloco-escuro .caixa.destaque{
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    padding-left: 70px;
}
.bloco-escuro .caixa.destaque p{
    color: #498189;
    margin-bottom: 0;
}
.icone.check::before{
    background: url('../img/check_final.png') no-repeat left top transparent;
    background-size: contain;
    width: 130px;
    height: 130px;
    top: -15px;
    left: -60px;
}
.footer-pg2{
    background: #498189;
    margin-top: -1px;
}
.footer-com-avancar{
    width: 400px;
    margin: 0 auto;
}
.rellax{
    position: absolute;
    width: 20%;
}
.rellax.direita{right: 0;}
.rellax.esquerda{left: 0;}
.rellax1{top: 1100px;}
.rellax2{top: 1450px;}
.rellax3{top: 2000px;}
.rellax4{top: 600px;}
.rellax5{
    top: 1200px;
    width: 15%;
}
.rellax6{top: 850px;}
.rellax7{top: 1500px;}
.rellax8{top: 1000px;}
.rellax9{
    top: 3200px;
    width: 15%;
}
/*página 2*/

/*página 3*/
.pagina3 .bloco-escuro{background: #487f6b;}
.pagina3 .bloco-escuro h4{color: #fff;}
.pagina3 .bloco-claro{background-image: url('../img/background2.png')}
.pg3-ilustra1{margin-left: -180px;}
.painel-tablet{
    background: url('../img/ipad.png') no-repeat;
    width: 602px;
    height: 858px;
    position: relative;
    padding-top: 140px;
    padding-left: 100px;
    padding-right: 90px;
}
.bt-tablet{
    width: 100%;
    height: 48px;
    background: none;
    border-radius: 13px;
    margin-bottom: 9px;
    border: none;
    position: relative;
}
.bt-tablet:hover{border: 3px solid #e79623;}
.bt-tablet.visitado::before{
    background-image: url('../img/checklist_modal.png');
    width: 67px;
    height: 67px;
    display: block;
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
}
.painel-tablet .modal-content{
    background: #e79623;
    padding: 40px;
}
.painel-tablet .modal-content p{color: #000;}
.painel-tablet .modal-dialog:not(.modal-fullscreen) .modal-header{background: none;}
.painel-tablet .modal-dialog:not(.modal-fullscreen) .btn-close{
    background: url('../img/bt_fechar_modal.png') no-repeat;
    width: 46px;
    height: 46px;
    opacity: 1;
    padding: 0;
    margin: auto;
    margin-right: 0;
}
.bg-parallax{
    width: 100%;
    height: 440px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
.parallax1{background: url('../img/paralaxe.png') no-repeat center;}
.pagina3 .caixa.ilustra2{
    background: #487f6b;
    border: none;
    border-radius: 13px;
    padding: 20px;
    padding-right: 260px;
}
.pagina3 .caixa.ilustra2 p{color: #fff;}
.pagina3 .caixa.ilustra2::before{
    background: url('../img/ilustra_destaque2.png') no-repeat right center transparent;
    width: 343px;
    height: 319px;
    left: unset;
    right: -100px;
    top: -50px;
}
/*página 3*/

/*página 4*/
.pagina3 .bloco-claro{background-image: url('../img/background3.png')}
.parallax2{background-image: url('../img/paralaxe_1.png');}
.pagina4 .caixa{
    background: #5da5b1;
    border: none;
    border-radius: 13px;
    padding: 20px;
    padding-left: 40px;
}
.pagina4 .caixa p{color: #fff;}
.pagina4 .caixa.importante::before{
    background: url('../img/ico_importante.png') no-repeat center transparent;
    width: 127px;
    height: 159px;
    left: -95px;
    top: -25px;
}
.parallax3{background-image: url('../img/paralaxe_2.png');}
.img-exemplo{
    margin-bottom: -200px;
}
.pagina4 h2{color: #487f6b;}
.pagina4 .caixa.destaque{
    background: #2d5054;
    padding-right: 240px;
    padding-left: 20px;
}
.pagina4 .caixa.destaque p{color: #fff;}
.pagina4 .caixa.destaque::before{
    background: url('../img/destaque.png') no-repeat;
    width: 290px;
    height: 260px;
    right: -60px;
    top: -70px;
    left: unset;
    background-size: contain;
}
.pagina4 .bloco-escuro .caixa{background: #2d5054;}
.pagina4 .caixa.importante{padding-left: 50px;}
.pagina4 .caixa.atencao{padding-left: 50px;}
.pagina4 .caixa.importante::before{
    top: -75px;
    left: -70px;
}
.pagina4 .caixa.atencao::before{
    background: url('../img/ico_atencao.png') no-repeat center transparent;
    width: 127px;
    height: 159px;
    left: -70px;
    top: -75px;
}
.footer-pg4{
    background: #498189;
    margin-top: -1px;
}
.pagina4 .bloco-escuro .painel-gaitinha .accordion-body{
    background: #fff;
}
.bloco-escuro .painel-gaitinha p{color: #333;}
/*página 4*/

/*media queries*/
@media screen and (max-width: 1024px){
    .ico-destaque{margin-left: 0;}
    .ilustra-esquerda{
        max-width: 100%;
        margin-left: 0;
    }
}
@media screen and (max-width: 890px){
    .abaixo{margin-top: 0;}
    .footer-inicial{
        right: unset !important;
        left: 100px !important;
        bottom: 210px !important;
    }
    .pagina3 .caixa.ilustra2{
        padding-right: 20px;
        padding-top: 260px;
    }
    .pagina3 .caixa.ilustra2::before{
        right: 0;
        top: -65px;
    }
    .footer-pg3{background: #f4f3f3;}
    .pagina4 .caixa.importante{
        width: 85%;
        margin: 50px auto;
        margin-top: 100px;
    }
    .pagina4 .bloco-escuro .caixa{
        width: 85%;
        margin-top: 80px;
    }
    .pagina4 .bloco-escuro .caixa{
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width: 580px){
    .pagina1 .container{
        padding-left: 30px;
        padding-right: 30px;
    }
    .footer-inicial {
        left: 30px !important;
        bottom: 70px !important;
    }
    .pagina4 .bloco-escuro .caixa.destaque{
        padding-right: 0;
        padding-top: 190px;
    }
    .pagina4 .caixa.destaque::before{
        right: 10px;
    }
}